	<span class="@goal_distance">
	
		<%= in_place_editor_field :goal, :distance %>
				
		&nbsp | &nbsp
	
	</span>
	
	<span class="@goal_time">
	
		<%= in_place_editor_field :goal, :hours %>h &nbsp
		<%= in_place_editor_field :goal, :minutes %>' &nbsp
		<%= in_place_editor_field :goal, :seconds %>''
		
		&nbsp | &nbsp
	
	</span>
	
	<span class="@goal_avgspeed">
	
		<%= @goal.avgspeed %> km/h
				
		&nbsp | &nbsp
	
	</span>

