<% @run = run %>

<div id="<%= @run.id %>">

<span class="run_bar" id="bar_<%= @run.id %>" style="width:<%=@run.distance.to_int*40%>px;"></span>

<span class="run_bar_date" id="bar_date_<%= @run.id %>"><%= simple_date(@run.updated_at)%></span>

</div>
