<div id="goal">
<%= render :partial => 'goal', :object => @goal %>
</div>

<div id="stats"></div>
<div id="charts">
<div id="c_distance"><%= render :partial => 'chart_distance' %></div>
<div id="c_avgspeed"><%= render :partial => 'chart_avgspeed' %></div>
</div>


<div id="new">

	<% remote_form_for(:run, :url => {:controller => 'runs', :action => 'create'}, :html => {:id => 'new_form'}) do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance, :value => '0' %>
  </p>
  <p>
    <%= f.label :hours %><br />
    <%= f.text_field :hours, :value => '0' %>
  </p>
  <p>
    <%= f.label :minutes %><br />
    <%= f.text_field :minutes, :value => '0' %>
  </p>
  <p>
    <%= f.label :seconds %><br />
    <%= f.text_field :seconds, :value => '0' %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  
<% end %>
</div>



<div id="runs">
<%= render :partial => 'run', :collection => @runs %>
</div>





