
<div id="new_and_goal_bar">

<div id="new">

<span id="new_title">New run</span>

	<% remote_form_for(:run, :url => {:controller => 'runs', :action => 'create'}, :html => {:id => 'new_form'}, :loading => "Element.hide('spinner_fix')", :wait => '1.0', :complete => "Element.show('spinner_fix')") do |f| %>

  <%= f.error_messages %>

  <p>
    <%= f.text_field :distance, :value => '0.0' %> <span id="distance_unit">km</span>
  </p>
  <p>
    <%= f.text_field :hours, :value => '0' %> <span id="hours_unit">h</span>
  </p>
  <p>
    <%= f.text_field :minutes, :value => '0' %> <span id="minutes_unit">'</span>
  </p>
  <p>
    <%= f.text_field :seconds, :value => '0' %> <span id="seconds_unit">''</span>
  </p>
  <p>
    <%= f.submit 'OK' %>
  </p>
  
<% end %>
</div>
</div>

<div id="goal_box">
<span id="goal_title">Set your goal</span>
<div id="goal">
<%= render :partial => 'goal', :object => @goal %>
</div>

</div>

<div id="stats">
	<%= render :partial => 'stats' %>
</div>

<div id="runs_heading">
<span id="runs_title">Distance & Average Speed</span>
<span id="distance_legend_dot">D</span>
<span id="distance_legend_text">Distance</span>
<span id="avgspeed_legend_dot">A</span>
<span id="avgspeed_legend_text">Average Speed</span>
</div>

<div id="runs">
	<%= render :partial => 'run', :collection => @runs %>
</div>




