<h1>Listing goals</h1>

<table>
  <tr>
    <th>Distance</th>
    <th>Hours</th>
    <th>Minutes</th>
    <th>Seconds</th>
    <th>Avgspeed</th>
    <th>User</th>
  </tr>


  <tr>
    <td><%=goal.distance %></td>
    <td><%=goal.hours %></td>
    <td><%=goal.minutes %></td>
    <td><%=goal.seconds %></td>
    <td><%=goal.avgspeed %></td>
    <td><%=goal.user_id %></td>
  </tr>


</table>

